<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{#link-to 'company.index'}}{{fa-icon "chevron-left" border=true title="Back"}}Back{{/link-to}}
    </div>
</div>
<div class="row">	
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {{model.name}}
    </div>
</div>